.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-body-tertiary{
  padding: 0%;
  margin: 0%;
}

.firstNav{
  position: sticky;
  top: 0;
  z-index: 1000;
}


.cards{
    width: 14rem;
    height: 11rem;
    background-color: #ffddb0;
    border: yellow 10px;
    margin-bottom: 5rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.propertyCards{
  width: 14rem;
  height: 22rem;
  margin-bottom: 5rem;
}

.propertyImages{
  width: 13rem;
  height: 9rem;
}

.grids{
  display: grid;
  align-items:center;
}
.searchRoundeed{
  border-radius: 40px;
}